{{- /* Section-aware SVG favicon */ -}}
{{- $favicon := "/favicons/book.svg" -}}
{{- $path := .RelPermalink -}}
{{- if hasPrefix $path "/tools/git" -}}
    {{- $favicon = "/favicons/git.svg" -}}
{{- else if hasPrefix $path "/tools/cursor" -}}
    {{- $favicon = "/favicons/cursor.svg" -}}
{{- else if hasPrefix $path "/tools/terminal" -}}
    {{- $favicon = "/favicons/terminal.svg" -}}
{{- else if hasPrefix $path "/tools/linux" -}}
    {{- $favicon = "/favicons/linux.svg" -}}
{{- end -}}
<link rel="icon" type="image/svg+xml" href="{{ $favicon | absURL }}">
